@import './mixins'; //import for using the border-radius in _mixins.scss
@import './variables'; //import for using $spacing in _variables.scss
.card {
    background-color: #68A7AD;
    
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #000;
    @include border-radius(0.5rem); /* using the mixins function */
    img {
        width: 65%;
        background-size: cover;
        text-align: center;
        border-radius: 8px;
        border: 1px solid #ddd;
        background-position: center center;
    }
    .card_content {
        padding: $spacing;
        size: 30px;
    }
    .card_title {
        margin: 0;
        size: 30px;
        color: black;
    }
    .card_description {
        margin: 0;
        color: brown;
    }
    &_dark {
        background-color: #C6D57E;
        .card_title {
            color: white;
        }
    }
}
